<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />

</head>
<body>
<div class="header">
    <span id="logo">
        <a href="/"><img src="css/img/logo.png" height /></a>
    </span>
</div>
<div class="sidebar">
    <a href="/news">News</a><br><br>
    <a href="/available">available Jobs</a><br><br>
    <a href="/jobsinarea">search for jobs in your area</a>
</div>
<div class="main">
    <div class="jobs">
        <table id="jobsTable" class="display">
        <thead>
        <th>name</th>
        <th>description</th>
        <th>price</th>
        <th>difficulty rating</th>
        </thead>
        <tbody>
        <% for(var i=0; i<availableJobs.length;i++){%>
            <tr>
            <td><%=availableJobs[i].Title%></td>
            <td><%=availableJobs[i].Description%></td>
            <td><%=availableJobs[i].Price%></td>
            <td><%=availableJobs[i].Difficulty%></td>
            </tr>
        <%}%>
        </tbody>
        </table>
    </div>
</div>
</body>
</html>