<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
</head>
<body>
<div class="header">
    <span id="logo">
        <a href="/"><img src="css/img/logo.png" height /></a>
    </span>
    <a href="/myProfile">my profile</a>
    <a href="/createJob"> create Job</a>
    <div class="headerLogin"/>
    <form action="" method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Log in"><br>
        <a href="/register">register</a>
    </form>
    </div>
</div>
<div class="sidebar">
    <a href="/news">News</a><br><br>
    <a href="/available">available Jobs</a><br><br>
    <a href="/jobs">requested Jobs</a><br><br>
    <a href="/jobs">pending Jobs</a><br><br>
    <a href="/jobs">available Jobs</a><br><br>
    <a href="/jobsinarea">search for jobs in your area</a>
</div>
<div class="main">
    Welkom op de website van refugenius. we zijn bla bla blablablablablablablablablablablablablablablablablablablablablabla blablablablablablablabla blablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablablabla

</div>
</body>
</html>