<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />

</head>
<body>
<div class="header">
    <span id="logo">
        <a href="/"><img src="css/img/logo.png" height /></a>
    </span>
    <a href="/myProfile">my profile</a>
</div>
<div class="sidebar">
    <a href="/news">News</a><br><br>
    <a href="/available">available Jobs</a><br><br>
    <a href="/jobsinarea">search for jobs in your area</a>
</div>
<div class="main">
    <B>Underconstruction</B>
</div>
</body>
</html>