<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />

</head>
<body>
<div class="header">
    <span id="logo">
        <a href="/"><img src="css/img/logo.png" height /></a>
    </span>
    <div id="headerLinks">
    <a href="/news">home</a>
    <a href="/createJob"> create Job</a>
    </div>
    </div>
<div class="sidebar">
    <a href="/news">News</a><br><br>
    <a href="/available">available Jobs</a><br><br>
    <a href="/jobsinarea">search for jobs in your area</a>
</div>
<div class="main">
    Username:<b><%=username%></b><br>
    Firstname:<b><%=firstName%></b><br>
    Lastname:<b><%=lastName%></b><br>
    Date of birth:<b><%=dateOfBirth%></b><br>
</div>
</body>
</html>